<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/grid.css">
  <link rel="stylesheet" href="styles/ratio.css">
  <link rel="stylesheet" href="styles/hamburgers.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="fonts/stylesheet.css">
  <title>Jazz Science | Skolkovo</title>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="main">
      <section class="about" id="about">
        <div class="container">
  
          <header v-if="isMobile" class="mobile-header" v-cloak>
            <a href="/" class="mobile-logo">
              <img src="img/logo.png" alt="" class="mobile-logo__img">
            </a>
            <button class="hamburger hamburger--emphatic" :class="{'is-active' : isMenuOpen}" type="button" v-if="isMobile" @click="toggleMenu">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </header>
  
          <transition name="slide">
            <aside v-if="isMobile && isMenuOpen" id="left-menu" class="panel" v-cloak>
              <div class="info">
                <div class="info__date">28 августа</div>
                <div class="info__place">Москва | Сколково</div>
              </div>
              <nav class="nav">
                <ul class="nav__list">
                  <a href="#howitwas" class="nav__link">Как это было</a>
                  <a href="#artists" class="nav__link">Артисты</a>
                  <a href="#program" class="nav__link">Программа</a>
                  <a href="" class="nav__link">Партнеры</a>
                  <a href="" class="nav__link">Билеты</a>
                </ul>
              </nav>
            </aside>
          </transition>
  
          <header class="header" v-if="!isMobile" v-cloak>
            <a href="/" class="logo">
              <img src="img/logo.png" alt="" class="logo__img">
            </a>
            <nav class="nav">
              <ul class="nav__list">
                <a href="#howitwas" class="nav__link">Как это было</a>
                <a href="#artists" class="nav__link">Артисты</a>
                <a href="#program" class="nav__link">Программа</a>
                <a href="" class="nav__link">Партнеры</a>
                <a href="" class="nav__link">Билеты</a>
              </ul>
            </nav>
            <div class="info">
              <div class="info__date">28 августа</div>
              <div class="info__place">Москва | Сколково</div>
            </div>
          </header>
  
          <div class="content">
            <div class="content__small">
              а это непередаваемая
              <br> атмосфера, которая
              <br> витает в воздухе
            </div>
            <img class="content__image" :src="'img/jazz-'+random()+'.png'" alt="Jazz Science Сколово">
            <div class="content__primary">
              место, где наука
              <br> и музыка соединяются, —
              <br> превращаясь в магию
            </div>
  
            <div class="content-aside">
              <div class="social">
                <a href="" class="social__link social__link--insta"></a>
                <a href="" class="social__link social__link--fb"></a>
                <a href="" class="social__link social__link-vk"></a>
              </div>
              <div class="learn-more">узнать больше про фестиваль</div>
            </div>
          </div>
  
        </div>
        <div class="molecule molecule--1" id="js-molecule-1"></div>
        <div class="molecule molecule--2" id="js-molecule-2"></div>
        <div class="molecule molecule--3" id="js-molecule-3"></div>
        <div class="molecule molecule--4" id="js-molecule-4"></div>
        <div class="molecule molecule--5" id="js-molecule-5"></div>
        <div class="molecule molecule--6" id="js-molecule-6"></div>
      </section>
  
      <section class="howitwas" id="howitwas">
        <div class="container">
          <h2 class="howitwas__heading heading">Как это было?</h2>
          <div class="years">
            <a href="" class="howitwas__year year">2016</a>
            <a href="" class="howitwas__year year year--active">2017</a>
          </div>
        </div>
  
        <div class="collage" id="js-collage-wrapper">
          <div class="collage__container" id="js-collage-container">
            <div class="col-xs-12 col-md-6 col-xl-3">
              <div class="row">
                <div class="col-xs-6">
                  <div class="ratio">
                    <div class="ratio__expander ratio__expander_xs-3x2"></div>
                    <div class="ratio__content">
                      <div class="collage__block">
                        <div class="image">
                          <img class="image__picture" src="img/saksofon.jpg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="ratio">
                    <div class="ratio__expander ratio__expander_xs-3x2"></div>
                    <div class="ratio__content">
                      <div class="collage__block">
                        <div class="image">
                          <img class="image__picture" src="img/valerylatypov-3476.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="ratio">
                    <div class="ratio__expander ratio__expander_xs-3x2"></div>
                    <div class="ratio__content">
                      <div class="collage__block">
                        <div class="image">
                          <img class="image__picture" src="img/SHA_6713.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-xl-3">
              <div class="row">
                <div class="col-xs-6">
                  <div class="ratio">
                    <div class="ratio__expander ratio__expander_xs-2x3"></div>
                    <div class="ratio__content">
                      <div class="collage__block">
                        <div class="image">
                          <img class="image__picture" src="img/valerylatypov-1579.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="ratio">
                    <div class="ratio__expander ratio__expander_xs-3x2"></div>
                    <div class="ratio__content">
                      <div class="collage__block">
                        <div class="collage__text">
                          <div class="collage__text--primary">6000</div>
                          <div class="collage__text--default">участников</div>
                          <div class="collage__text--secondary">московский джазовый оркестр Ярославы Симоновой</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ratio">
                    <div class="ratio__expander ratio__expander_xs-3x2"></div>
                    <div class="ratio__content">
                      <div class="collage__block">
                        <div class="image">
                          <img class="image__picture" src="img/DSC01579.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
  
              <div class="row">
                <div class="col-xs-6">
                  <div class="ratio">
                    <div class="ratio__expander ratio__expander_xs-3x2"></div>
                    <div class="ratio__content">
                      <div class="collage__block">
                        <div class="collage__text">
                          <div class="collage__text--primary">12</div>
                          <div class="collage__text--default">приглашенных артистов</div>
                          <div class="collage__text--secondary">мировые джазовые имена</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="ratio">
                    <div class="ratio__expander ratio__expander_xs-3x2"></div>
                    <div class="ratio__content">
                      <div class="collage__block">
                        <div class="image">
                          <img class="image__picture" src="img/valerylatypov-1576.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-xs-12 col-md-6 col-xl-3">
              <div class="row">
                <div class="col-xs-12">
                  <div class="ratio">
                    <div class="ratio__expander ratio__expander_xs-3x2"></div>
                    <div class="ratio__content">
                      <div class="collage__block">
                        <div class="image">
                          <img class="image__picture" src="img/valerylatypov-3021.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="ratio">
                    <div class="ratio__expander ratio__expander_xs-3x2"></div>
                    <div class="ratio__content">
                      <div class="collage__block">
                        <div class="image">
                          <img class="image__picture" src="img/valerylatypov-3036.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="ratio">
                    <div class="ratio__expander ratio__expander_xs-3x2"></div>
                    <div class="ratio__content">
                      <div class="collage__block">
                        <div class="collage__text">
                          <div class="collage__text--primary">72</div>
                          <div class="collage__text--default">часа</div>
                          <div class="collage__text--secondary">науки и музыки</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-xs-12 col-md-6 col-xl-3">
              <div class="row">
                <div class="col-xs-6">
                  <div class="ratio">
                    <div class="ratio__expander ratio__expander_xs-3x2"></div>
                    <div class="ratio__content">
                      <div class="collage__block">
                        <div class="image">
                          <img class="image__picture" src="img/valerylatypov-3464.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="ratio">
                    <div class="ratio__expander ratio__expander_xs-3x2"></div>
                    <div class="ratio__content">
                      <div class="collage__block">
                        <div class="image">
                          <img class="image__picture" src="img/valerylatypov-1611.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="ratio">
                    <div class="ratio__expander ratio__expander_xs-3x2"></div>
                    <div class="ratio__content">
                      <div class="collage__block">
                        <div class="image">
                          <img class="image__picture" src="img/valerylatypov-2566.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section class="artists" id="artists">
        <div class="container">
          <h2 class="artists__heading heading">Артисты</h2>
          <div class="years">
            <a href="" class="artists__year year">2016</a>
            <a href="" class="artists__year artists__year--active year">2017</a>
          </div>
  
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <div class="artists__block">
                <img src="img/ilya-i-azat.png" alt="Группа Ильи Морозова и Азата Баязитова" class="artists__img">
                <div class="artists__name">Группа Ильи Морозова и Азата Баязитова</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <div class="artists__block">
                <img src="img/sergey-quintet.png" alt="Квинтет Сергея Долженкова" class="artists__img">
                <div class="artists__name">Квинтет
                  <br> Сергея Долженкова</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <div class="artists__block">
                <img src="img/vsdims-group.png" alt="Вадим Эйленкриг и его группа" class="artists__img">
                <div class="artists__name">Вадим Эйленкриг
                  <br> и его группа</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <div class="artists__block">
                <img src="img/oleg-trio.png" alt="Трио Олега Аккуратова" class="artists__img">
                <div class="artists__name">Трио
                  <br> Олега Аккуратова </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <div class="artists__block">
                <img src="img/till-quintet.png" alt="Till Brönner Quintet" class="artists__img">
                <div class="artists__name">Till Brönner
                  <br> Quintet</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <div class="artists__block">
                <img src="img/igor-i-moscow-jazzband.png" alt="Игорь Бутман и Московский джазовый оркестр" class="artists__img">
                <div class="artists__name">Игорь Бутман
                  <br> и Московский джазовый оркестр</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <div class="artists__block">
                <img src="img/july-afterjuly.png" alt="July AfterJuly" class="artists__img">
                <div class="artists__name">July
                  <br> AfterJuly</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <div class="artists__block">
                <img src="img/teslaboy.png" alt="Группа TeslaBoy" class="artists__img">
                <div class="artists__name">Группа
                  <br> TeslaBoy</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <div class="artists__block">
                <img src="img/baronin-a.png" alt="Антон Баронин" class="artists__img">
                <div class="artists__name">Антон
                  <br> Баронин</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <div class="artists__block">
                <img src="img/toymintseva-a.png" alt="Алена Тойминцева" class="artists__img">
                <div class="artists__name">Алена
                  <br> Тойминцева</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <div class="artists__block">
                <img src="img/guru-groove.png" alt="Guru Groove Foundation" class="artists__img">
                <div class="artists__name">Guru Groove
                  <br> Foundation</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <div class="artists__block">
                <img src="img/tony-momrelle-band.png" alt="Tony Momrelle Band" class="artists__img">
                <div class="artists__name">Tony Momrelle
                  <br> Band</div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section class="program" id="program">
        <div class="container">
          <h2 class="program__heading heading">Программа</h2>
          <div class="years">
            <a href="" class="program__year year">2016</a>
            <a href="" class="program__year year year--active">2017</a>
          </div>
  
          <div class="program__content">
            <img class="program__img" src="img/program-img.png" alt="Программа фестиваля">
            <div class="program__text">
              Помимо музыкальной программы, на фестивале можно было посетить научно-популярные лекции, принять участие в мастер-классах
              от Культурного Центра ЗИЛ и Playtronica, а также интерактивных инсталляциях от Петра Айду, Vtol: (проект Дмитрия
              Морозова) и Музея Скрябина. Для меломанов и любопытствующих работал Маркет винила, где можно было приобрести
              или обменять редкие пластинки. Также в рамках SkolkovoJazz прошел Фестиваль фудтраков, который объединил самые
              любимые и известные проекты московского стрит-фуда.
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <script type="text/javascript" src="js/vue.min.js"></script>
  <script type="text/javascript" src="js/dist.js"></script>
</body>

</html>