@font-face {
    font-family: 'Century Gothic';
    src: url('hinted-subset-CenturyGothic.eot');
    src: local('Century Gothic'), local('CenturyGothic'),
        url('hinted-subset-CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('hinted-subset-CenturyGothic.woff2') format('woff2'),
        url('hinted-subset-CenturyGothic.woff') format('woff'),
        url('hinted-subset-CenturyGothic.ttf') format('truetype');
        /* url('hinted-subset-CenturyGothic.svg#CenturyGothic') format('svg'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('hinted-subset-CenturyGothic-Bold.eot');
    src: local('Century Gothic Bold'), local('CenturyGothic-Bold'),
        url('hinted-subset-CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('hinted-subset-CenturyGothic-Bold.woff2') format('woff2'),
        url('hinted-subset-CenturyGothic-Bold.woff') format('woff'),
        url('hinted-subset-CenturyGothic-Bold.ttf') format('truetype');
        /* url('hinted-subset-CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg'); */
    font-weight: bold;
    font-style: normal;
}

