@import "hamburgers/hamburgers";
@import "grid";
@import "ratio";

[v-cloak] {
  display: none;
}

.main {
  font-family: "Century Gothic", sans-serif;
}

.preview {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px;
  padding-left: 8px;
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  .container {
    width: 544px;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1168px;
    max-width: 100%;
  }
}

@media screen and (min-width: 1900px) {
  .container {
    width: 1400px;
    max-width: 100%;
  }
}

.about {
  display: flex;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    25deg,
    #498de7 0%,
    #5086e4 42%,
    #2488d6 77%,
    #038ed2 100%
  );
  color: white;
}

@media screen and (min-width: 922px) {
  .about {
    height: 100vh;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 120px;
}

.nav__list {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.nav__link {
  padding: 10px 25px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  margin: 16px 5px;
  font-weight: bold;
  text-align: center;

  &--contrast {
    background: white;
    color: #038ed2;
  }
}

.nav__link:hover {
  background: #ffde00;
  color: #038ed2;
}

.info {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  &__date {
    font-size: 20px;
  }
  
  &__place {
    font-size: 12px;
    padding-top: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .info { 
    &__date {
      font-size: 30px;
    }
    
    &__place {
      font-size: 16px;
      padding-top: 10px;
    }
  }
}

.mobile-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 1000;
  background: hsla(205, 75%, 48%, 0.6);
}

.mobile-logo {
  display: flex;
  align-items: center;
}
.mobile-logo__img {
  width: 60px;
}

@media screen and (min-width: 768px) {
  .mobile-header {
    padding: 20px;
  }
  .mobile-logo__img {
    width: 80px;
  }
}

.panel {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    25deg,
    #498de7 0%,
    #5086e4 42%,
    #2488d6 77%,
    #038ed2 100%
  );
  z-index: 999;
  display: flex;
  flex-flow: column;
  padding: 80px 60px 40px;
  justify-content: space-around;
}

@media screen and (min-width: 1200px) {
  .nav__list {
    flex-flow: row;
  }
}
.call-to-action {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.button {
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  margin: 16px 5px;
  font-weight: bold;
  text-align: center;
  
  &--primary {
    color: white;
    background: #038ed2;
  }

  &--contrast {
    color: #038ed2;
    background: #ffde00;
  }

  &--primary:hover {
    color: #038ed2;
    background: #ffde00;
  }

  &--contrast:hover {
    background: white;
  }
}

.content {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin: 100px 0 20px;
  flex-flow: column;
  justify-content: space-between;
}

@media screen and (min-width: 576px) {
  .content {
    margin: 15% 0 8%;
  }
}

@media screen and (min-width: 922px) {
  .content {
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    margin: 30px 0;
  }
}

.content__small {
  font-size: 14px;
  font-weight: bold;
}

@media screen and (min-width: 576px) {
  .content__small {
  }
}
@media screen and (min-width: 922px) {
  .content__small {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.content__small::before {
  background: #e85a8b;
  content: "";
  position: absolute;
  top: -11px;
  left: 0;
  width: 33px;
  height: 2px;
}

.content__image {
  width: 90%;
  height: 100%;
  display: block;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.content__primary {
  font-weight: bold;
  font-size: 22px;
  margin-left: auto;
  margin-top: 30px;
}

.content-aside {
  display: flex;
  padding: 20px 0;
  align-items: center;
  margin-top: 10px;
  position: relative;
}

.content-aside::after {
  background: #e85a8b;
  content: "";
  position: absolute;
  top: 27px;
  left: 105%;
  width: 60px;
  height: 2px;
}

.learn-more {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 3px;
}

.social {
  display: flex;
}

.social__link {
  display: block;
  width: 15px;
  height: 15px;
  padding: 3px 3px;
}

.social__link--insta {
  background: url("../img/insta-icon.png") no-repeat;
}

.social__link--fb {
  background: url("../img/fb-icon.png") no-repeat;
}

.social__link-vk {
  background: url("../img/vk-icon.png") no-repeat;
}

@media screen and (min-width: 768px) {
  .content__small::before {
    top: -3%;
  }
}

@media screen and (min-width: 922px) {
  .content__small::before {
    top: -20%;
  }
  .content__image {
    margin: 0;
  }
  .content__primary {
    font-size: 33px;
    margin-top: 20px;
  }
  .content-aside {
    flex-flow: column;
    position: absolute;
    left: 0;
    bottom: 40%;
    padding: 0;
    margin-top: 0;
    z-index: 2;
  }
  .content-aside::after {
    display: none;
  }
  .content-aside::before {
    background: #e85a8b;
    content: "";
    position: absolute;
    top: 200px;
    left: 7px;
    width: 2px;
    height: 80px;
  }
  .social {
    display: block;
    position: absolute;
    left: 0;
    top: -60px;
  }
  .learn-more {
    transform: rotate(-90deg) translateX(-55%) translateY(-667%);
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .molecule {
    position: absolute;
  }
  .molecule--1 {
    background: url("../img/molecula-1-1.png") no-repeat;
    background-size: cover;
    top: 23%;
    left: -2%;
    width: 140px;
    height: 140px;
  }
  .molecule--2 {
    background: url("../img/molecula-1-2.png") no-repeat;
    background-size: cover;
    top: 17%;
    right: 13%;
    width: 130px;
    height: 116px;
  }
  .molecule--3 {
    background: url("../img/molecula-1-4.png") no-repeat;
    background-size: cover;
    top: 39%;
    right: -6%;
    width: 217px;
    height: 222px;
  }
  .molecule--4 {
    background: url("../img/molecula-2-1.png") no-repeat;
    background-size: cover;
    bottom: 12%;
    left: -5%;
    width: 176px;
    height: 193px;
    z-index: 2;
  }
  .molecule--5 {
    background: url("../img/molecula-2-2.png") no-repeat;
    background-size: cover;
    bottom: 21%;
    left: 10%;
    width: 85px;
    height: 72px;
  }
  .molecule--6 {
    background: url("../img/colecula-2-3-last.png") no-repeat;
    background-size: cover;
    bottom: -11%;
    left: 22%;
    width: 193px;
    height: 209px;
  }
}

@media screen and (min-width: 1400px) {
  .molecule--1 {
    top: 24%;
    left: 1%;
  }
  .molecule--2 {
    top: 20%;
    right: 13%;
  }
  .molecule--3 {
    top: 35%;
    right: -5%;
  }
  .molecule--4 {
    bottom: 12%;
    left: -4%;
  }
  .molecule--5 {
    bottom: 21%;
    left: 11%;
  }
  .molecule--6 {
    bottom: -10%;
    left: 25%;
  }
}

@media screen and (min-width: 1500px) {
  .molecule--1 {
    top: 13%;
    left: 3%;
    width: 140px;
    height: 140px;
  }
  .molecule--2 {
    top: 20%;
    right: 13%;
    width: 130px;
    height: 116px;
  }
  .molecule--3 {
    top: 31%;
    right: -5%;
    width: 235px;
    height: 237px;
  }
  .molecule--4 {
    bottom: 19%;
    left: -4%;
    width: 176px;
    height: 193px;
  }
  .molecule--5 {
    bottom: 35%;
    left: 5%;
    width: 90px;
    height: 77px;
  }
  .molecule--6 {
    bottom: -11%;
    left: 22%;
    width: 193px;
    height: 209px;
  }
}

.heading {
  font-weight: bold;
  font-size: 46px;
  padding-top: 50px;
  text-align: center;
}

.collage {
  margin: 30px 0 60px;
}

.collage__block {
  padding: 3px;
  height: calc(100% - 6px);
}

.collage__text {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .collage__text {
    padding: 10px;
  }
}

.collage__text--primary {
  color: #038ed2;
  font-weight: bold;
  font-size: 30px;
}

.collage__text--default {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 8px;
}

.collage__text--secondary {
  font-size: 12px;
}

.artists {
  background-color: #038ed2;
  color: white;
  padding-bottom: 60px;

  &__year {
    color: white;
  }

  &__year--active {
    font-weight: bold;
  }

  &__block {
    padding: 30px;
  }

  &__img {
    width: 100%;

    &--muted {
      filter: grayscale(80%) brightness(0.5);
    }

    &--muted:hover {
      transition: filter .3s linear;
      filter: none;
    }
  }

  &__name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    line-height: 1.2;
  }
}

.program {
  &__img {
    width: 100%;
  }
  
  &__text {
    padding: 16px;
    font-size: 18px;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
  
    p {
      text-indent: 2em;
    }
  }
}


@media screen and (min-width: 768px) {
  .program__text {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.partners {
  padding-bottom: 60px;
}

.popup {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  position: fixed;
  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh !important;
  }
  &__image {
    max-width: 100%;
    max-height: 100%;
  }
  &__close {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 32px;
    z-index: 2;

    & svg {
      width: 44px;
      height: 44px;
      fill: white;
    }
  }
}
